[difftool]
  prompt = false

[difftool "my-vimdiff"]
  path = /usr/bin/vim
  cmd = "vim -d \"$LOCAL\" \"$REMOTE\""

[diff]
  tool = my-vimdiff

[pager]
  status = true

[alias]
	ci = commit
	co = checkout
	dt = difftool
	mt = mergetool
	st = status

[user]
	name = cieplik
	email = dcieplin@gmail.com


# vim: set et:
