[core]
  notesRef = refs/notes/hg

[difftool]
  prompt = false

[difftool "my-vimdiff"]
  path = vim
  cmd = "vim -d \"$LOCAL\" \"$REMOTE\""

[diff]
  tool = my-vimdiff

[pager]
  status = true

[push]
	default = upstream

[alias]
	ci     = commit
	co     = checkout
	dt     = difftool
  fa     = fetch --all
  ff     = merge --ff-only
	mt     = mergetool
  review = !git-review.sh
  pr     = "!fetchpr() { git fetch $1 refs/pull-requests/$2/from; }; fetchpr"
	st     = status
	ta     = log --oneline --decorate --graph --color --branches --remotes
	tb     = log --oneline --decorate --graph --color --branches
	ts     = log --oneline --decorate --graph --color --branches --remotes --simplify-by-decoration
	tt     = log --oneline --decorate --graph --color

[user]
	name = David Cieplinski
	email = davidc@imagine-sw.com


# vim: set et:
