[difftool]
  prompt = false

[difftool "my-vimdiff"]
  path = /usr/bin/vim
  cmd = "vim -d \"$LOCAL\" \"$REMOTE\""

[diff]
  tool = my-vimdiff

[pager]
  status = true

[alias]
	ci     = commit
	co     = checkout
	dt     = difftool
  fa     = fetch --all
  ff     = merge --ff-only
	mt     = mergetool
  review = !git-review.sh
	st     = status
	ta     = log --oneline --decorate --graph --color --branches --remotes
	tb     = log --oneline --decorate --graph --color --branches
	tt     = log --oneline --decorate --graph --color

[user]
	name = Dawid Cieplinski
	email = dawid.cieplinski@sabre.com


# vim: set et:
