priority -25

snippet ns "namespace .. (namespace)"
namespace${1/.+/ /m}${1:`!p snip.rv = snip.basename or "name"`}
{
	${VISUAL}${0}
}  // namespace $1
endsnippet

snippet once "#pragma once"
#pragma once
endsnippet
